.intro__list {
  width: 690px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 945px) {
  .intro__list {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .intro__list {
    margin: 34px 0 0;
  }
}
