.header {
  min-width: calc(320px - 16px*2);
  max-width: 1184px;
  width: calc(100% - 48px*2);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 56px;
  padding: 28px 48px 0;
}

@media screen and (max-width: 768px){
  .header {
    width: calc(100% - 24px*2);
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 425px){
  .header {
    width: calc(100% - 16px*2);
    padding: 16px 16px 0;
  }
}
