.header {
  min-width: calc(320px - 16px*2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: calc(100% - 48px*2);
  min-height: 56px;
  padding: 28px 48px 0 48px;
}

@media screen and (min-width: 1280px){
  .header {
    width: 1184px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px){
  .header {
    width: calc(100% - 24px*2);
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 425px){
  .header {
    width: calc(100% - 16px*2);
    padding: 16px 16px 0 16px;
  }
}
