.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration-line: none;
  transition: opacity 0.3s linear;
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px){
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 32px;
  }

  .footer__link:last-child {
    margin-bottom: 48px;
  }
}
