.header__languages {
  display: flex;
  width: 76px;
  margin: 0 0 6px;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 425px){
  .header__languages {
    width: 62px;
    margin: 0 0 8px;
  }
}
