.lead__subtitle {
  width: 640px;
  min-width: 320px;
  font-size: 30px;
  line-height: 1.12;
  text-align: center;
  color: #fff;
  margin: 32px auto 0;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__subtitle {
    width: 80%;
    font-size: 4vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    margin: 16px auto 0;
  }
}
