.cover__background {
  position: relative;
  z-index: 0;
  height: 740px;
  background-image: url("../../../images/depot.jpg");
  background-size: cover;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.cover__background:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1279px){
  .cover__background {
    height: calc(100vw/1.6);
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    height: 200px;
  }
}
