.cover__background {
  position: relative;
  z-index: 0;
  min-height: 740px;
  background-image: url("../../../images/depot.jpg");
  background-size: cover;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s linear;
}

.cover__background:hover::before{
  opacity: 0.8;
}

@media screen and (max-width: 1279px){
  .cover__background {
    min-height: calc(100vw/1.6);
    /*У меня при ширине экрана 1024 высота 640px (+17px на скролл не забывайте плиз это 1041px,
    тогда видимая часть это 1024px), можно убедиться
    просмотрев в мобилном устройстве с разрешением 1024px по ширине
    Я из-за этого скролла стал переделывать горизонтальный скрол при 1280-1297 - это как раз те 17 пикселей, которые занимает вертикальный скролл
    И чет у меня подгорело прямо с этого. В макете все размеры без учета скрола даны, а инструменты разработчика не убирают его
    поэтому приходиться учитывать и накидывать лишние пиксели.
    Если сейчас с этим разбираться, то у меня там много чего менять придется, так как разрешения меньшие, которые смотрятся только
    для мобильных устройств. Если их смотрел на десктопе, то там везде не соответсвие получается*/
    /*И вообще там написано было что погрешности допускаются. Картинка сейчас пропорционально меняется,
    я бы оставил так, чем буду ломать её на каждом нужном разрешении. Там даже формула есть - ширина экрана поделить на 1,6,
    если на калькуляторе посчитать, то 1024/1,6=640, ну и т.д.*/
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
