.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 1fr;
  gap: 48px 40px;
  padding: 80px 0 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 92px 1fr;
    column-gap: 28px;
    padding: 73px 0 0;
  }
}

@media screen and (max-width: 767px){
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }
}
