.intro__article {
  width: 984px;
}

@media screen and (max-width: 1024px){
  .intro__article {
    width: 928px;
  }
}

@media screen and (max-width: 945px) {
  .intro__article {
    width: 100%;
  }
}
