.header__language-ru {
  font-size: 24px;
  line-height: 1.17;
  font-style: normal;
  font-weight: normal;
  text-decoration-line: underline;
  color: #fff;
  margin: 0 18px 0 0;
}

@media screen and (max-width: 425px){
  .header__language-ru {
    font-size: 18px;
    line-height: 1.11;
  }
}
